<ul id="todo_details">
  <li><%= @todo.title %></li>
  <li><%= @todo.note %></li>
  <li><%= @todo.due_date %></li>
  <li><%= link_to('Delete', todo_path(@todo), remote: true, method: :delete)%> | <%= link_to('Edit', edit_todo_path(@todo), remote: true) %></li> 
</ul>
